body {
  background-color: #655C5C;
  overflow: auto;
}
.user-information-page-wrapper {
  margin: 21.5px;
  margin-right: 10.75px;
  background-color: #D2CFCF;
  height: 1027px;
}

.problem-information-page-wrapper {
  margin: 21.5px;
  margin-left: 10.75px;
  background-color: #D2CFCF;
  height: 1027px;
}

.user-information-wrapper {
  height: 299px;
  padding: 26px;
  padding-bottom: 13px;
}

.user-edit-information-wrapper {
  height: 738px;
  padding: 26px;
  padding-top: 13px;
}

.user-information {
  overflow: auto;
  height: 257px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  padding: 23px;
}

.user-edit-information {
  height: 694px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  padding: 23px;
}
.user-profile-description {
  font-size: 1vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
  margin-bottom: 0.5rem !important;
}
.user-profile-description-wrapper {
  height: 81px;
}
.user-profile-picture {
  width: 60%;
}

.user-name-text-wrapper {
  margin: auto 0;
  font-size: 2vw;
  margin-left: -12%;
}

.user-name-text {
  margin: 0px;
  display: inline-block;
  text-align: justify;
  overflow: auto;
  color: #707070;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-button {
  display: none;
  position: absolute;
  height: 40px;
  left: 40px;
  top: 40px;
}

.menu-nav-bar-wrapper {
  padding-top: 26px;
  padding-left: 26px;
  padding-right: 26px;
  height: 114px;
}

.menu-nav-bar {
  height: 73px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.menu-option {
  padding-left: 25px;
  padding-right: 25px;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-option-text {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
}

.menu-option-text:hover {
  cursor: pointer;
}

.active-link {
  font-weight: 450 !important;
}

@media only screen and (max-width: 1023px) {
  .problem-information-page-wrapper {
    margin-left: 26px;
  }
  .user-information-box {
    display: none;
  }
  .menu-button {
    display: inline-block;
  }
}