body {
  background-color: #655C5C;
  overflow: auto;
}

.user-information-page-wrapper {
  margin: 21.5px;
  margin-right: 10.75px;
  background-color: #D2CFCF;
  height: 1027px;
}

.problem-information-page-wrapper {
  margin: 21.5px;
  margin-left: 10.75px;
  background-color: #D2CFCF;
  height: 1027px;
}

.user-information-wrapper {
  height: 299px;
  padding: 26px;
  padding-bottom: 13px;
}

.user-edit-information-wrapper {
  height: 738px;
  padding: 26px;
  padding-top: 13px;
}

.user-information {
  overflow: auto;
  height: 257px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 23px;
}

.user-edit-information {
  height: 690px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 23px;
}

.user-profile-description {
  font-size: 1vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
  margin-bottom: 0.5rem !important;
}

.user-profile-description-wrapper {
  height: 81px;
}

.user-profile-picture {
  width: 60%;
}

.user-name-text-wrapper {
  margin: auto 0;
  font-size: 2vw;
  margin-left: -12%;
}

.user-name-text {
  margin: 0px;
  display: inline-block;
  text-align: justify;
  overflow: auto;
  color: #707070;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-button {
  display: none;
  position: absolute;
  height: 40px;
  left: 40px;
  top: 40px;
}

.menu-nav-bar-wrapper {
  padding-top: 26px;
  padding-left: 26px;
  padding-right: 26px;
  height: 114px;
}

.menu-nav-bar {
  height: 73px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.menu-option {
  padding-left: 22px;
  padding-right: 22px;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-option-text {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
}

.menu-option-text:hover {
  cursor: pointer;
}

.active-link {
  font-weight: 450 !important;
}

.problem-scroll-wrapper {
  height: 887;
  padding-top: 15px;
  padding-left: 26px;
  padding-right: 26px;
}

.problem-scroll {
  height: 100%;
}

.problem-wrapper {
  margin-bottom: 31px;
  background-color: white;
}

.problem-title-wrapper {
  height: 140px;
  padding-top: 30px;
  padding-right: 31px;
  padding-left: 31px;
  padding-bottom: 25px;
}

.problem-title {
  height: 85px;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.problem-body-wrapper {
  padding-left: 31px;
  padding-right: 31px;
}

.problem-body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2vw;
  color: #707070;
}

.problem-footer-wrapper {
  height: 131px;
  padding-top: 25px;
  padding-bottom: 21px;
  padding-left: 31px;
  padding-right: 31px;
}

.problem-footer-media-wrapper {
  width: 30%;
  display: inline-block;
}

.problem-footer-media {
  height: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.problem-footer-climbed-wrapper {
  display: inline-block;
  height: 100%;
  width: 70%;
  float: right;
  padding-left: 23px;
}

.problem-footer-climbed {
  height: 100%;
  background-color: #D0D1D4;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.problem-footer-climbed-text {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
}
.problem-footer-climbed-text-centerer {
  text-align: center;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  color: #707070;
}

.problem-title-grade {
  display: inline-block;
  height: 100%;
  padding-left: 19px;
  vertical-align: top;
}

.problem-title-grade-centerer {
  display: flex;
  height: 100%;
  font-size: 45px;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
}

.problem-title-colors {
  display: inline-block;
  height: 100%;
  padding-left: 19px;
  vertical-align: top;
}

.problem-title-color {
  height: 56.87px;
  width: 56.87px;
  background-color: red;
  display: inline-block;
  border-radius: 10px;
  margin-right: 13.3px;
  vertical-align: top;
}

.problem-title-colors-centerer {
  display: flex;
  height: 100%;
  align-items: center;
}

.problem-title-author {
  display: block;
  height: 100%;
  float: right;
  padding-right: 15px;
}

.problem-title-author-centerer {
  display: flex;
  height: 100%;
  font-size: 27px;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
}
@media only screen and (max-width: 1023px) {
  .problem-information-page-wrapper {
    margin-left: 26px;
  }
  .user-information-box {
    display: none;
  }
  .menu-button {
    display: inline-block;
  }
  .problem-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    color: #707070;
  }
}
